@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  --grey: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  background: radial-gradient(#252525, #000000);
}

body {
  display: grid;
  place-items: center;
}

.hole {
  margin: auto;
  margin-top: .8rem;
  height: .5rem;
  width: 5rem;
  border: none;

  background-color: #202024;
}

.ticket {
  margin: auto;
  position: absolute;
  width: 4.06rem;
  height: 4.4rem;
  top: 0px;
  border: none;
  
  background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
}

main {
  background: url("./images/background.svg") no-repeat center/cover;
  background-size: cover;
  width: 22.37rem;
  height: 34.22rem;

  box-shadow: 0 0 .75rem .35rem rgba(136, 135, 135, 0.226);
  border-radius: .5rem;
}

.container {
  text-align: center;
  margin: auto;
  max-width: 250px;

  color: var(--grey);
}

.avatar {
  margin: auto;
  width: 10rem;
  margin-top: 22.9%;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

/* pegando imagem do primeiro nível da div */
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: var(--grey);

  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

span {
  margin: .8rem 0;
}

p {
  margin-top: 1rem;
}

ul {
  margin-top: 2rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: .5rem;
  justify-content: center;
}

li img{
  border-radius: .5rem;
}

li:hover {
  transform: scale(1.1);
  border-bottom: solid .1rem #f93a65;
  border-left: solid .1rem #f93a65;
  border-radius: .5rem;
}


